---
import '../styles/custom.scss';
import Header from '../components/HeaderBasic.astro';
import Footer from '../components/FooterBasic.astro';
import { SITE_TITLE, SITE_DESCRIPTION, SITE_KEYWORDS, SITE_AUTHOR, SITE_URL } from '../config';
---

<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" sizes="48x48" />
    <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml" />
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="canonical" href={SITE_URL} />
    <script src="../scripts/color-modes.js"></script>
    <meta name="description" content={SITE_DESCRIPTION} />
    <meta name="keywords" content={SITE_KEYWORDS} />
    <meta name="author" content={SITE_AUTHOR} />
    <title>{SITE_TITLE} | Who is Rich Slezak</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
    <script>
      import '../scripts/custom.js';
    </script>
  </body>
</html>
